body{font-size:12px;padding:0;overflow:hidden;font-family: "Microsoft yahei", "微软雅黑", "宋体", "Tahoma", "Verdana", "Arial", "sans-serif";}
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;}  
ol,ul{margin:0; padding:0;}

.bespread{width:100%;}
body.child-body{height:100%;overflow:auto;margin: auto;}
.child-layout{width:100%;min-height:500px;min-width:800px;overflow:hidden;}
.page-header{width:100%;height:60px;padding:10px;background:#ddd;}
.page-footer{width:100%;height:60px;padding:10px;background:#ddd;}
.page-content{width:100%;height:auto;padding:10px;overflow:hidden;}

.easyui-form table tr td:first-child{text-align: right;}
.required{color:red;}
.showSelectIcon{width: 16px;height: 16px;margin-left: 5px;display: inline-block;position: relative;top: 5px;}
.showSelectIcon a{ width: 16px;height: 16px;display: inline-block;}
#icons li{ list-style: none;float: left;height: 24px;width: 24px;cursor: pointer;text-align: center;}
#icons li:hover{ border: 2px solid red;width: 20px;height: 20px;}
#icons li.selected{ border: 2px solid red;width: 20px;height: 20px;}
#icons li a{ width: 16px;height: 16px;display: inline-block}
.dialog-form-table{ margin: 0 auto;margin-top: 20px;}
.datagrid-row {
        height: 30px;
    }
@media screen and (max-width: 1199px) {
    /*.applications  .tabs a{ width: 58px;}*/
}

.fake-easyui-multtextbox {
    display: inline-block;
    border: 1px solid #aaadb1;
    border-radius: 5px;
    padding: 1px 4px;
    overflow: hidden;
    vertical-align:middle;
}

.fake-easyui-multtextbox textarea {
    border: 0;
    width: 100%;
}